services:
  postgres:
    image: postgres:17-alpine
    container_name: university_db
    environment:
      POSTGRES_DB: university_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
