spring:
  application:
    name: server
  profiles:
    active: test

  jpa:
    hibernate:
      ddl-auto: validate

    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-time: ${JWT_EXPIRATION_TIME}

logging:
  level:
    "com.university.management.system": trace
    # org:
    #   hibernate:
    #     orm:
    #       jdbc:
    #         bind: trace
    #     SQL: DEBUG
    #     type.descriptor.sql.BasicBinder: trace